<div class="tweet-box">
	<%= image_tag tweet.user.image_path, :class => "tweet-avatar"%>
	<div class="tweet-user">
		<%= tweet.user.name %> 
	</div>
	<div class="tweet">
		<%= 
			# h method escapes user provided data, then links are made and posted raw.
		raw make_links h(tweet.message)
	%>
	</div>
</div>
<hr />
